<h1><%= @article.title %></h1>
<p>
  著者：<%= @article.author %>
</p>

<p>
  <%= @article.body %>
</p>
<%= link_to '編集', edit_article_path %>
<%= link_to '削除', article_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to '記事一覧', articles_path %>
